<p id="notice"><%= notice %></p>

<p>
  <b>Ep id:</b>
  <%= @ep.identification %>
</p>

<p>
  <b>Ep name:</b>
  <%= @ep.ep_name %>
</p>

<p>
  <b>Ep lastname:</b>
  <%= @ep.ep_lastname %>
</p>

<p>
  <b>Program:</b>
  <%= @ep.program %>
</p>

<p>
  <b>Ep manager name:</b>
  <%= @ep.ep_manager_name %>
</p>

<p>
  <b>Ep manager email:</b>
  <%= @ep.ep_manager_email %>
</p>


<%= link_to 'Edit', edit_ep_path(@ep) %> |
<%= link_to 'Back', eps_path %>
