<%= form_tag 'signups', :multipart => true do %>
<div class="title"> Signup </div>

<label for="user_name">Name</label><br/>
<%= text_field "user", "name", :size => 20 %><br/>

<label for="user_area">Area Funcional</label><br/>
<%= select_tag(:area, options_for_select([["F&L",'F&L'],["ICX",'ICX'],["OGX",'OGX'],["COMM",'COMM'],["OS",'OS'],["TM",'TM'],["ER",'ER']])) %>
<br/>

<label for="user_username">Username</label><br/>
<%= text_field "user", "username", :size => 20 %><br/>

<label for="user_password">Password</label><br/>
<%= password_field "user", "password", :size => 20 %><br/>

<label for="user_phone">Phone</label><br/>
<%= text_field "user", "phone", :size => 40 %><br/>

<label for="user_email">Email</label><br/>
<%= text_field "user", "email",  :size => 40 %><br/>

<label for="user_committee">Committee</label><br/>
 <%= select_tag(:committee, options_for_select([["USB",'USB'],["UCV",'UCV'],["UCAB",'UCAB'],["UNIMET",'UNIMET'],["UNITEC",'UNITEC'],["UC",'UC'],["MERIDA",'MERIDA'],["MARACAIBO",'MARACAIBO'],["BARQUISIMETO",'BARQUISIMETO'],["GUAYANA",'GUAYANA'],["MC",'MC']])) %>
<br/>
<br/>
<%= submit_tag "Signup" %>
<%= link_to 'Back', '/users/login' %>
<% end %>

