<p id="notice"><%= notice %></p>

<p>
  <b>Reason:</b>
  <%= @income.reason %>
</p>

<p>
  <b>Amount:</b>
  <%= @income.amount %>
</p>

<p>
  <b>Type of payment:</b>
  <%= @income.type_of_payment %>
</p>

<p>
  <b>Operation number:</b>
  <%= @income.operation_number %>
</p>

<p>
  <b>Deposit date:</b>
  <%= @income.deposit_date %>
</p>

<p>
  <b>Invoice number:</b>
  <%= @income.invoice_number %>
</p>


<table id="hor-zebra" summary="Link">
  <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
  </thead>

 <tbody>

<% epin=(IncomeEp.where(:income_id =>@income.id)).first %>

<% if (epin.nil?) == false %>

<% ep=(Ep.where(:id => epin.ep.id)).first %>
  <tr class="odd">
    <td> EP </td>
    <td><%= ep.identification %></td>
    <td><%= ep.ep_name %></td>
    <td><%= ep.ep_lastname %></td>
    <td><%= ep.program %></td>
    <td><%= link_to 'Destroy', epin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>





<% tnin=(IncomeTn.where("income_id = ?",@income.id)).first %>

<% if (tnin.nil?) == false %>

<% tn=(Tn.where(:id => tnin.tn.id)).first %>

  <tr class="odd">
    <td> TN </td>
    <td><%= tn.identification %></td>
    <td><%= tn.tn_taker %></td>
    <td><%= tn.tn_name %></td>
    <td><%= tn.program %></td>
    <td><%= link_to 'Destroy', tnin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>



<% evin=(IncomeEvent.where("income_id = ?",@income.id)).first %>

<% if (evin.nil?) == false %>
<% ev=(Event.where("id = ?",evin.event.event_id)).first %>
  <tr class="odd">
    <td> EVENTO </td>
    <td><%= ev.name %></td>
    <td><%= ev.event_date %></td>
    <td><%= ev.profit %></td>
    <td><%= ev.expense %></td>
    <td><%= link_to 'Destroy', evin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>





</tbody>
</table>


<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Link Income-Ep', new_income_ep_path(@income) %> |
<%= link_to 'Link Income-Tn', new_income_tn_path(@income) %> |
<%= link_to 'Link Income-Event', new_income_event_path(@income) %> |
<%= link_to 'Back', incomes_path %>
