<p id="notice"><%= notice %></p>

<p>
  <b>Reason:</b>
  <%= @request.reason %>
</p>

<p>
  <b>Amount:</b>
  <%= @request.amount %>
</p>

<p>
  <b>Request date:</b>
  <%= @request.request_date %>
</p>

<p>
  <b>Name:</b>
  <%= @request.name %>
</p>

<p>
  <b>Identification:</b>
  <%= @request.identification %>
</p>

<p>
  <b>Account type:</b>
  <%= @request.account_type %>
</p>

<p>
  <b>Account number:</b>
  <%= @request.account_number %>
</p>

<p>
  <b>Bank:</b>
  <%= @request.bank %>
</p>

<p>
  <b>Para:</b>
  <%= @request.para %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
