<%= form_for(@tn) do |f| %>
  <% if @tn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tn.errors.count, "error") %> prohibited this tn from being saved:</h2>

      <ul>
      <% @tn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identification %><br />
    <%= f.text_field :identification %>
  </div>
  <div class="field">
    <%= f.label :tn_taker %><br />
    <%= f.text_field :tn_taker %>
  </div>
  <div class="field">
    <%= f.label :tn_name %><br />
    <%= f.text_field :tn_name %>
  </div>
  <div class="field">
    <%= f.label :program %><br />
    <%= select_tag(:program, options_for_select([["GIP",'GIP'],["GCDP",'GCDP']])) %>
  </div>
  <div class="field">
    <%= f.label :tn_manager_name %><br />
    <%= f.text_field :tn_manager_name %>
  </div>
  <div class="field">
    <%= f.label :tn_manager_email %><br />
    <%= f.text_field :tn_manager_email %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
